# ignore kirby directory
web/

# ignore some kirby basics
custom/site/accounts/
custom/site/cache/

# ignore kirby fields
custom/site/fields/tab
custom/site/fields/markdown

# ignore kirby plugins
custom/site/plugins/field-selector
custom/site/plugins/field-switch/
custom/site/plugins/panel-bar/

# ignore netbeans files
/nbproject


